body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-family: 'Open Sans';
}

nav {
    a {
        background: #252a5e;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        padding: 15px 25px;

        &:hover {
            background: rgb(128, 94, 230);
        }

        &.visited {
            background: blue;
        }
        &.active {
            background-color:#58b9e3;
        }
    }
}

p {
    margin-top: 50px;

    span {
        text-transform: uppercase;
        font-weight: 600;
        background-color:#58b9e3;
        color: white;

        &.home,
        &.projects,
        &.services,
        &.contact {
            padding: 10px 15px;
        }
    }
}

